
<div class="modal-content">
  <p>forma User new</p>
  <%= render "flight_selected"%>
  <%= link_to "Add users", user_new_path, remote: true, class: "btn btn-primary" %>
</div>

<div id="user-modal" class="modal fade"></div>
