
<div class="modal-content" id="form_user_new">
  <p>forma User new</p>
  <%= render "flight_selected"%>
  <%= link_to "Add users", user_add_path, remote: true, class: "btn btn-primary" %>
  <div id="user-modal"></div>
</div>
<br>
