<div class="container">
<a href="#"><h1>Vuelos Rails</h1>  </a>

  <div class="flight-index">
        <!-- renderear formulario parcial, y pasarle el local con los vuelos-->
        <%= render "form", :fligths => @fligths %>
  </div>
</div>
<div id="flight-modal" class="modal fade"></div>
